USE [master]
GO
/****** Object:  Database [LibraryDatabase]    Script Date: 2018-09-29 16:53:24 ******/
CREATE DATABASE [LibraryDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\LibraryDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\LibraryDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryDatabase]
GO
/****** Object:  Table [db_owner].[Book]    Script Date: 2018-09-29 16:53:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [db_owner].[Book](
	[ISBN] [char](13) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Author] [varchar](50) NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [db_owner].[Copy]    Script Date: 2018-09-29 16:53:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [db_owner].[Copy](
	[ID] [int] NOT NULL,
	[Reader] [int] NULL,
	[ISBN] [char](13) NOT NULL,
	[Borrowed] [date] NULL,
 CONSTRAINT [PK_Copy] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [db_owner].[Reader]    Script Date: 2018-09-29 16:53:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [db_owner].[Reader](
	[ID] [int] NOT NULL,
	[Name] [char](20) NOT NULL,
	[Surname] [char](20) NOT NULL,
	[Password] [char](16) NOT NULL,
 CONSTRAINT [PK_Reader] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [db_owner].[Copy] ADD  CONSTRAINT [DF_Copy_Reader]  DEFAULT (NULL) FOR [Reader]
GO
ALTER TABLE [db_owner].[Copy] ADD  CONSTRAINT [DF_Copy_Borrowed]  DEFAULT (NULL) FOR [Borrowed]
GO
ALTER TABLE [db_owner].[Copy]  WITH CHECK ADD  CONSTRAINT [FK_Copy_Book] FOREIGN KEY([ISBN])
REFERENCES [db_owner].[Book] ([ISBN])
GO
ALTER TABLE [db_owner].[Copy] CHECK CONSTRAINT [FK_Copy_Book]
GO
ALTER TABLE [db_owner].[Copy]  WITH CHECK ADD  CONSTRAINT [FK_Copy_Reader] FOREIGN KEY([Reader])
REFERENCES [db_owner].[Reader] ([ID])
GO
ALTER TABLE [db_owner].[Copy] CHECK CONSTRAINT [FK_Copy_Reader]
GO
USE [master]
GO
